.MuiCardContent-root {
  padding: 0 !important;
  margin: 0 !important;
}

.MuiCardContent-root:last-child {
  padding-bottom: 0 !important;
}

/* Para todos los iconos */
.MuiSvgIcon-root {
  font-size: 19px !important;
}

/* Para iconos específicos */
.my-custom-icon {
  font-size: 14px;
}

.MuiPickersInputBase-root {
  width: 220px;
  height: 50px;
  display: flex;         /* activamos flexbox */
  align-items: center;   /* centrado vertical */
  justify-content: center; /* opcional, centra también horizontalmente */
}

.MuiPickersInputBase-input {
  text-align: center; /* centra el texto dentro del input */
}

.css-x7dd96-MuiFormLabel-root-MuiInputLabel-root {
    padding-top: 0 !important;
    margin: 0  !important;
}

.css-kshral-MuiFormLabel-root-MuiInputLabel-root{
  padding-top: 0 !important;
    margin: 0  !important;
}

.MuiTableBody-root .MuiTableCell-root {
  font-size: 12.5px !important;
  white-space: normal;
  overflow-wrap: break-word;
  padding: 8px;
}



/* Estilos para el contenedor principal */
.sin-gestionar-container {
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

/* Estilos cuando el checkbox está activo */
.sin-gestionar-container.active {
  background-color: #e3f2fd;
  border-color: #90caf9;
}

/* Estilos para la etiqueta */
.sin-gestionar-label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333;
  margin-left: 8px;
}

/* Estilos personalizados para el checkbox */
.sin-gestionar-checkbox .MuiCheckbox-root {
  color: #757575;
  padding: 8px;
}

.sin-gestionar-checkbox .Mui-checked {
  color: #1976d2;
}

/* Efecto hover */
.sin-gestionar-checkbox:hover .MuiCheckbox-root {
  color: #1976d2;
}